@use "/src/sass/base/variables.scss" as *;

.activities {
    padding-top: 60px;

    &__wrapper {
        margin-top: 20px;
        row-gap: 40px;
    }

    &__img {
        width: 100%;
        margin-top: 40px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    &__text {
        margin-top: 20px;
        font-size: 16px;
        font-weight: 500;
        line-height: 100%;
        letter-spacing: 0%;

        &_colored {
            color: $ceramic;
            font-weight: 500;
        }
    }
}

@media screen and (min-width: 768px) {
    .activities {
        padding: 60px 119px 0 119px;

        &__wrapper {
            margin-top: 40px;
        }

        &__text {
            font-size: 20px;
            margin-top: 25px;

            &__colored {
                font-size: 20px;
            }
        }

    }
}

@media screen and (min-width: 1200px) {
    .activities {
        padding: 60px 0 0 0;

        &__wrapper {
            margin-top: 80px;
        }

        &__col {
            padding: 0 10px;
        }

        &__img {
            margin-top: 60px;
        }

        &__text_fixed {
            width: 556px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .activities {
        padding-top: 100px;

        &__text {
            margin-top: 30px;
        }
    }
}