@use "/src/sass/base/variables.scss" as *;

.header {
    &__top {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        width: 100px;
        height: 100px;
    }

    &__icons {
        display: flex;
        align-items: flex-start;
        gap: 15px;

        a {
            display: block;
            color: $dark;

            span {
                display: block;
                width: 20px;
                height: 20px;
            }
        }
    }

    &__nav {
        display: none;
    }

    &__menu {
        padding: 50px 10px;
        position: fixed;
        z-index: 1000;
        top: 0;
        left: -100vw;
        width: 100vw;
        height: 100vh;
        background-color: $light;
        transition: all 0.5s;

        &_active {
            transform: translateX(100%);
        }

        &-close {
            display: block;
            width: 20px;
            height: 20px;

            span {
                display: block;
                width: 19.8px;
                height: 1px;
                background-color: $dark;

                &:nth-child(1) {
                    transform: translateY(9px) rotate(45deg);
                }

                &:nth-child(2) {
                    transform: translateY(9px) rotate(-45deg);
                }
            }
        }

        &-nav {
            margin-top: 50px;
            padding-left: 15px;

            ul {
                display: flex;
                flex-direction: column;
                gap: 25px;
                padding: 0;

                li {
                    list-style-type: none;
                }
            }
        }

        &_link {
            color: $dark;
            font-size: 20px;
            font-weight: 400;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: left;
            text-transform: uppercase;
            text-decoration: none;
        }
    }
}

.burger {
    display: flex;
    height: 23px;
    flex-direction: column;
    row-gap: 9.5px;
    padding-right: 35px;

    span {
        display: block;
        width: 20px;
        height: 1px;
        background-color: $dark;
    }
}

@media screen and (min-width: 768px) {
    .header {
        &__menu {
            display: none;
        }

        &__nav {
            margin-top: 20px;
            display: block;

            ul {
                display: flex;
                justify-content: center;
                gap: 30px;
                padding-left: 0;

                li {
                    list-style: none;
                }
            }
        }

        &__link {
            display: block;
            color: $dark;
            font-size: 20px;
            font-weight: 400;
            line-height: 100%;
            text-transform: uppercase;
            text-decoration: none;
        }
    }

    .burger {
        visibility: hidden;
    }
}

@media screen and (min-width: 1920px) {
    .header {
        &__logo {
            width: 150px;
            height: 151px;
        }

        &__nav {
            margin-top: 36px;

            ul {
                gap: 60px;
            }
        }
    }
}