.promo {
    padding-top: 50px;

    &__potter {
        display: none;
    }

    &__wrapper {
        margin-top: 50px;
    }

    &__title {
        padding-inline: 5px;
    }

    &__cta {
        margin-top: 40px;
    }

    &__img {
        margin: 0 auto;
        width: 270px;
        height: 377px;
        box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.25);
    }

    &__btn {
        margin: 18px auto 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .promo {
        &__wrapper {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }

        &__title {
            padding-inline: 0;
            padding-left: 71px;
            margin-bottom: 91px;
            text-align: left;
        }

        &__cta {
            margin-top: 0px;
        }

        &__img {
            width: 230px;
            height: 321px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .promo {
        position: relative;

        &__potter {
            display: block;
            width: 450px;
            height: 633px;
            position: absolute;
            z-index: 3;
            top: 0px;
            left: 0px;
        }

        &__title {
            padding-left: 571px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .promo {
        padding-top: 40px;

        &__wrapper {
            margin-top: 79px;
        }

        &__potter {
            width: 640px;
            height: 900px;
        }

        &__img {
            width: 330px;
            height: 460px;
        }

        &__btn {
            margin: 50px auto 0 auto;
        }

        &__title {
            padding-left: 642px;
            margin-bottom: 110px;
        }
    }
}