@use "/src/sass/base/variables.scss" as *;

.works {
    padding-top: 60px;
    position: relative;
    padding-bottom: 35px;

    &__slider {
        margin-top: 40px;
    }


    .swiper-slide img {
        width: 100%;
    }

    &__nav-slider {
        display: none;
    }

    .swiper-pagination {
        bottom: -35px;
    }

    .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        border-radius: 0;
        background-color: $dark;
        opacity: 100%;
        -webkit-tap-highlight-color: transparent;
    }

    .swiper-pagination-bullet-active {
        background-color: $ceramic;
    }

}

@media screen and (min-width: 768px) {
    .works {
        &__slider {
            margin-top: 45px;
        }

        .swiper-slide img {
            width: 400px;
            display: block;
            margin: 0 auto;
        }
    }
}

@media screen and (min-width: 1200px) {
    .works {

        &__wrapper {
            position: relative;
        }

        &__slider {
            // margin-top: 80px;
            margin: 80px 40px 44.5px 40px;
        }

        .swiper-slide img {
            width: 100%;
            margin: 0;
        }

        .swiper-pagination {
            bottom: -30px;
        }

        &__nav-slider {
            display: block;
            cursor: pointer;
            font-size: 21px;
            background-color: transparent;
            border: none;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);

            &::before {
                width: auto;
                margin: 0;
            }
        }

        .icon-left-open {
            left: 12px;
        }

        .icon-right-open {
            right: 12px;
        }
    }
}

@media screen and (min-width: 1920px) {
    .works {
        padding-top: 100px;

        &__slider {
            // margin-top: 80px;
            margin: 80px 85px 44.5px 85px;
        }

        .icon-left-open {
            left: 40px;
        }

        .icon-right-open {
            right: 40px;
        }
    }
}