@use "/src/sass/base/variables.scss" as *;

.works {
    padding-top: 60px;
    padding-bottom: 100px;

    &__slider {
        margin-top: 40px;
    }

    .swiper-slide img {
        width: 100%;
    }

    .swiper-pagination {
        margin-top: 20px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }


}

@media screen and (min-width: 1200px) {
    .works {

        .swiper-button-prev,
        .swiper-button-next {
            display: block;
        }
    }
}